#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* remove default browser margin */
body{
  margin:0;
}

/* main container */
.con{
  position: relative;
  min-height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* blurred background layer */
.con::before{
  content: "";
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;

  background-image: url("./assets/image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  filter: blur(8px);
  z-index:-1;
}